<form #addEventForm="ngForm" (ngSubmit)="AddToEvents(addEventForm)">
  <h3>Please add an event!</h3>

  <label for="title">Enter Event Name.</label><br /> 
  <input name="title" type="text" ngModel placeholder="Red Wings vs. Bruins" /><br />

  <label for="description">Enter a brief description of the event.</label><br />
  <input name="description" type="text" ngModel placeholder="Watch a hockey game!" /><br />

  <label for="category">Is this a sporting event, concert or family show?</label><br />
  <input name="category" type="text" ngModel placeholder="Sporting Event" /><br />

  <label for="labels">How do you want to tag this event? #Hockey</label><br />
  <input name="labels" type="text" ngModel placeholder="Hockey, LCA" /><br />

  <label for="location">Where will this event be located? City, State.</label><br />
  <input name="location" type="text" ngModel placeholder="Detroit, MI" /><br />

  <label for="eventDate">What day will this event be held?</label><br />
  <input name="eventDate" type="date" ngModel placeholder="" /><br />
  <p></p><br />

  <input type="submit" value="Add Event!" />

</form>


