<form #addEventForm="ngForm" (ngSubmit)="AddToEvents(addEventForm)">
  <h3>Please add an event!</h3>

  <input name="title" type="text" ngModel placeholder="Red Wings vs. Bruins" />
  <input name="description" type="text" ngModel placeholder="Watch a hockey game!" />
  <input name="category" type="text" ngModel placeholder="Sporting Event" />
  <input name="labels" type="text" ngModel placeholder="Hockey, LCA" />
  <input name="location" type="text" ngModel placeholder="Detroit, MI" />
  <input name="eventDate" type="date" ngModel placeholder="" />

  <input type="submit" value="Add Event!" />

</form>

<!--Need to add breaks and labels to separate buttons-->
