/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color:ghostwhite;
  background-color:dodgerblue;
  border-color:darkblue;
}

.eventDisplay{
    background-color:lightgray;
    text-align:center;
    border-style:solid;
    border-width:inherit 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
