<div class="eventDisplay">
  <h3>{{ event.title }}</h3> <br />
  <h6>Description: {{ event.description }}</h6> <br />
  <p>Category: {{ event.category }}</p> <br />
  <p>Labels: {{ event.labels }}</p> <br />
  <h5 *ngIf="event.description != null">Event Date: {{  displayDate() }}</h5> <br />
  <h5 *ngIf="event.description != null" >Start Time: {{  displayTime() }}</h5> <br />
  <h5>Location: {{ event.location }}</h5> <br />
  <button class="btn-primary" (click)="AddFavorite()" [routerLink]="['/allFavorites']">Add to Favorites</button>
</div>
